:root {
  --main-color: #fff12345;
  --accent-color: #ff9900;
  --background-page-color: #507dbc;
}
.centered {
  text-align: center;
}
nav ul li {
  display: inline-block;
  border: 2vw solid black;
  text-align: center;
  float: none;
  background-color: var(--main-color);
}
@font-face {
  font-family: "Custom Font";
  src: url(font/REM-Italic-VariableFont_wght.ttf);
}
h3:hover {
  background-color: antiquewhite;
}
@media screen and (min-width: 1024px) {
  body {
    display: grid;
    background-color: var(--background-page-color);
  }
  p {
    font-family: "Custom Font", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    display: grid;
    background-color: var(--background-page-color);
  }
  nav ul li {
    font-size: 2em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
  p {
    font-family: "Custom Font", Arial, Helvetica, sans-serif;
    font-size: 2em;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  pre {
    font-size: 2em;
  }
  section ol li {
    font-size: 1.5em;
  }
  div ul li {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 767px) {
  body {
    display: grid;
    background-color: var(--background-page-color);
  }
  nav ul li {
    font-size: 3em;
  }
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
  p {
    font-family: "Custom Font", Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  pre {
    font-size: 4vw;
  }

  section ol li {
    font-size: 4vw;
    font-size-adjust: 0.5;
  }

  div ul li {
    font-size: 1.5em;
  }
}
/*change*/
section {
  display: grid;
  place-items: center;
  border: 1.5vw solid var(--accent-color);
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

html,
body {
  height: 100%;
  margin: 0;
}

header {
  display: grid;
  place-items: center;
}
main,
footer {
  display: grid;
  place-items: center;
  border: 1rem solid black;
}
