:root {
  --main-color: #fff12345;
  --accent-color: #ff9900;
  --background-page-color: #507dbc;
}
.centered {
  text-align: center;
}
nav ul li {
  display: inline-block;
  border: 1vh solid black;
  text-align: center;
  float: none;
  background-color: var(--main-color);
}
@font-face {
  font-family: "Custom Font";
  src: url(font/REM-Italic-VariableFont_wght.ttf);
}
h3:hover {
  background-color: antiquewhite;
}
@media screen and (min-width: 1024px) {
  body {
    display: grid;
    background-color: var(--background-page-color);
  }
  p {
    font-family: "Custom Font", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    display: grid;
    background-color: var(--background-page-color);
  }
  nav ul li {
    font-size: 2em;
  }
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 3em;
  }
  p {
    font-family: "Custom Font", Arial, Helvetica, sans-serif;
    font-size: 2em;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  section ul li {
    font-size: 1.5em;
  }
  th {
    font-size: 2.5em;
  }
  td {
    font-size: 1.5em;
  }
  legend {
    font-size: 2em;
  }
  label {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--background-page-color);
  }
  nav ul li {
    font-size: 3em;
  }
  h1 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 2.5em;
  }
  p {
    font-family: "Custom Font", Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  section ul li {
    font-size: 1.5em;
  }
  th {
    font-size: 2.5em;
  }
  td {
    font-size: 1.5em;
  }
  legend {
    font-size: 2em;
  }
  label {
    font-size: 1.25em;
  }
}

section {
  display: grid;
  border: 2vw solid var(--accent-color);
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

html,
body {
  height: 100%;
  margin: 0;
}
#myname {
  animation-duration: 3s;
  animation-name: slidein;
}

#transition {
  font-size: 14px;
  transition: font-size 4s 2s;
}

#transition:hover {
  font-size: 36px;
}
#blueCircle {
  transform: translateX(90px);
}
#blueCircle:hover {
  transform: translateX(50px);
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

header,
main,
footer {
  display: grid;
  place-items: center;
  border: 1rem solid black;
}
